// COLORS
$color-primary: #08213d;

$color-secondary: rgb(1, 51, 52);

$color-grey-light: #f7f7f7;

$color-grey: #777;
$color-grey-dark: #333;

$color-white: #f1eff3;
$color-black: #000;
$color-dark: #0f0f0f;
$color-background: #171717;

// FONT
$small-font-size: 1.4rem;
$default-font-size: 1.6rem;
$medium-font-size: 1.8rem;
$large-font-size: 1.8rem;

// OTHER
$default-margin-bottom: 7rem;