@import '../variables';
@import '../mixins';

.contact {
    margin-top: 10%;
    text-align: center;

    @include respond(phone) {
        margin-top: 30%;
    }

    &__name {
        text-transform: capitalize;
        font-size: 3.5rem;
    }

    &__item-list {
        width: 50%;
        margin: 4rem auto 0;
        text-align: left;

        @include respond(phone) {
            width: 80%;
        }
    }

    &__item {
        margin-bottom: 4rem;
        letter-spacing: .1rem;

        &-title {
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        a {
            color: $color-white;
            font-size: 2.5rem;
            text-decoration: none;
            transition: all .2s ease;
            width: auto;
        }

        &:hover &-fa-invi {
            display: inline-block;
        }

        &-fa {
            margin-right: 1.5rem;


            &-invi {
                display: none;
                margin-left: 2rem;
            }
        }
    }
}