@import '../variables';
@import '../mixins';

.home {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    
    transition: all 1s ease;

    @include respond(phone) {
        height: 90vh;
    }

    &--right {
        transform: translateX(30%);
    }

    &-container {
            display: flex;
            justify-content: center;
            align-items: center;

        @include respond(phone) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}