@import '../variables';
@import '../mixins';

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0;
    letter-spacing: .1rem;

    color: $color-white;
    font-size: 1.5rem;

    &__copyright {
        margin-left: 2rem;
        text-align: left;
    }

    &__creator {
        margin-right: 2rem;
        text-align: right;

        a {
            color: $color-white;
            text-decoration: none;
        }
    }
}