@import '../mixins';
@import '../variables';

.main-header {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 0 2rem;
    z-index: 100;
    letter-spacing: .2rem;

    background: linear-gradient(140deg, $color-primary 0%, $color-primary 60%, $color-secondary 60%);
    box-shadow: 0 .1rem .7rem .2rem rgba(0, 0, 0, 0.4);


    &__toolbar {
        width: 92rem;
        margin: 0 auto;
        display: flex;
        margin-top: -.2rem;

        @include respond(phone) {
            justify-content: space-between;
        }
    }

    &__nav {
        text-decoration: none;
        font-style: inherit;
        height: 8rem;
    
        @include respond(phone) {
            display: none;
        }
    }
}