@import '../variables';
@import '../mixins';

.home-menu {
    &__nav {
        &-list {
            list-style: none;
        }

        &-item {
            transition: all .2s ease;
            line-height: 1.3;
            letter-spacing: .1rem;

            @include respond(phone) {
                line-height: 1;
            }

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

            &:hover {
                transform: scale(1.1);
            }

            a {
                position: relative;
                color: $color-white;
                text-decoration: none;
                font-size: 3.5rem;
                text-transform: none;

                @include respond(phone) {
                    font-size: 2.7rem;
                }
            }

            &--active:link {
                text-decoration: underline;
            }
        }
    }
}