@import '../variables';
@import '../mixins';

.home-menu {
    &__nav {

        &-list {
            list-style: none;
        }

        &-item {
            transition: all .2s ease;
            line-height: 1.35;
            letter-spacing: .1rem;
            position: relative;

            @include respond(phone) {
                margin-top: 1rem;
                line-height: .7;
            }

            &:nth-child(1), &:nth-child(6) {
                margin-left: -7rem;

                @include respond(phone) {
                    margin-left: -4rem;
                }
            }

            &:nth-child(2), &:nth-child(5) {
                margin-left: -2.5rem;

                @include respond(phone) {
                    margin-left: -1.5rem;
                }
            }

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

            &:hover {
                transform: scale(1.05);

                @include respond(tab-land) {
                    transform: scale(1.02);
                }
                
                &::after {
                    content: " →";
                    position: absolute;
                    right: 1;
                    font-size: 3.5rem;

                    @include respond(tab-land) {
                        content: "";
                        display: none;
                    }
                }

                &:nth-child(1) {
                    &::after {
                        content: "";
                        display: none;
                    }
                }
            }

            a {
                margin-left: 3rem;
                position: relative;
                color: $color-white;
                text-decoration: none;
                font-size: 3.5rem;
                text-transform: none;

                @include respond(phone) {
                    margin-left: 2rem;
                    font-size: 2.7rem;
                }
            }

            &--active:link {
                text-decoration: underline;
            }
        }
    }
}