@import '../variables';
@import '../mixins';

.partners {
    display: flex;
    margin: 0 5rem;
    justify-content: center;
    flex-wrap: wrap;

    @include respond(phone) {
        // margin: 0;
    }

    &__item {
        height: 11rem;
        margin: 3rem;
        transition: all .1s ease;

        &-link {}

        &-image {
            height: 100%;
        }

        &:hover {
            transform: scale(1.05);
        }
         &:active {
             transform: scale(.95);
         }
    }
}